<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title_clock %} MetaTech {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'meta_app/styles2.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="{% static 'meta_app/MetaIconColor.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'meta_app/script2.js' %}">

    </script>


</head>
<!--{#<nav class="topnav" id="myTopnav" style="background-image: linear-gradient(to right, rgba(2,27,121,0.65), rgba(5,117,230,0.67)) ;">#}-->
{% if user.is_authenticated %}
    <nav class="topnav" id="myTopnav">
        <nav2 style="z-index: 2; padding: 2%; background-color: rgba(255,255,255,0)">
            <a href="javascript:void(0);" class="container icon" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </a>
        </nav2>
        <nav1 class="topnav">
            <button class="menu_button_regular" onclick="location.href='/logout'">התנתק</button>

            <button class="menu_button_regular" onclick="location.href='/contact_us'">צור קשר</button>
            <button class="menu_button_regular" onclick="location.href='/#who_are_we'">מי אנחנו</button>
            <button class="menu_button_regular">הקורסים שלי - בקרוב</button>

            {% if not user.profile.id %}
                <button class="menu_button_regular" onclick="location.href='/create_profile'">צור פרופיל</button>
            {% else %}
            <button class="menu_button_regular" onclick="location.href='/personal_page'"> <span style="font-family: Rubik,'sans-serif';font-size: 29px">{{ user.first_name }}  </span> <i
                        class='fa fa-user-circle' style='font-size:34px'></i></button>
            {% endif %}
<!--            {% if not user.profile.id %}-->
<!--                <button class="menu_button_regular" onclick="location.href='/create_profile'">-->
<!--                    שלום, {{ user.first_name }}</button>-->
<!--            {% else %}-->
<!--                <button class="menu_button_regular" onclick="location.href='/personal_page'">-->
<!--                    שלום, {{ user.first_name }}</button>-->
<!--            {% endif %}-->
            <button class="menu_button_regular" onclick="location.href='/'"><img
                    src="{% static 'meta_app/MetaIconColor.png' %}" id="menu_icon"
                    style="width: 43px; transform: translateY(-3px); z-index: 150">
            </button>
        </nav1>


    </nav>

{% else %}
    <nav class="topnav" id="myTopnav">
    <nav2 style="z-index: 2; padding: 2%">
        <a href="javascript:void(0);" class="container icon" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </a>
    </nav2>
    <nav1 class="topnav">

        <button class="menu_button_regular" id="menuBtnId" onclick="location.href='/contact_us'">צור קשר</button>
        <button class="menu_button_regular" id="menuBtnId" onclick="location.href='/#who_are_we'">מי אנחנו</button>
        <button class="menu_button_regular" id="menuBtnId" onclick="location.href='/#courses'">נושאי הלימוד</button>
        <div class="drop_down" style="width: 130%; flex-direction: column">
            <button class="menu_button_regular dropbtn" id="service"><i class="fa fa-caret-down"></i> מוצרים</button>
            <div class="drop_down_content" id="dropdowncont">
                <a href="/private_lesson">שיעורים פרטיים</a>
                <a href="/coming_soon">קורסים מוקלטים - בקרוב</a>
                <a href="/online_courses">קורסים מקוונים</a>
            </div>
        </div>
        <button class="menu_button_regular" onclick="location.href='/sign_up'">הרשמה</button>
        <button class="menu_button_regular" onclick="location.href='/login'">התחבר</button>
        </button>
        <button class="menu_button_regular logomenu" onclick="location.href='/'"><img
                src="{% static 'meta_app/MetaIconColor.png' %}" id="menu_icon"
                style="width: 43px; transform: translateY(5px)">
        </button>
    </nav1>
    <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>
        <!--        <form class="modal-content animate" action="/action_page.php">-->
        <!--            <div class="imgcontainer">-->
        <!--                <img src="{% static 'meta_app/img_avatar2.png' %}" alt="Avatar" class="avatar">-->
        <!--            </div>-->

        <!--            <div class="container">-->
        <!--                <label for="uname"><b>Username</b></label>-->
        <!--                <input type="text" placeholder="Enter Username" name="uname" required>-->

        <!--                <label for="psw"><b>Password</b></label>-->
        <!--                <input type="password" placeholder="Enter Password" name="psw" required>-->

        <!--                <button class="button_login" type="submit">Login</button>-->
        <!--                <label>-->
        <!--                    <input type="checkbox" checked="checked" name="remember"> Remember me-->
        <!--                </label>-->
        <!--            </div>-->

        <!--            <div class="container" style="background-color:#f1f1f1; ">-->
        <!--                <button class="button_login cancelbtn" type="button" onclick="document.getElementById('id01').style.display='none'">-->
        <!--                    Cancel-->
        <!--                </button>-->
        <!--                <span class="psw">Forgot <a href="#">password?</a></span>-->
        <!--            </div>-->
        <!--        </form>-->
        <form method="post" style="display: flex; flex-direction: column">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="join_button" type="submit" style="width: 30%; align-self: center; margin-top: 5%">Login
            </button>
            <a href="#" style="align-self: center; margin-top: 10%">Forgot your password?</a>
        </form>
    </div>
{% endif %}


</nav>
<body style="padding: 0; margin: 0">
<div class="containter_div_col">

</div>
<button class="myBtn" onclick="location.href='/contact_us'" id="myBtn" title="Go to top">צור קשר</button>
{% block content_block %}

{% endblock %}

<footer style="text-align: center;background-color: rgba(0,93,166,0)">
    <br><br><br>
    <div style="display: flex; flex-direction: column">
        <div style="display: flex;flex-direction: row">
            <div style="display: flex;flex-direction: column; width: 50%">
                <img src="{% static 'meta_app/PNG-Transparent.png' %}" style="width: 50%; display: flex; margin: auto">
            </div>
            <div style="display: flex;font-size: 24px;flex-direction: column; width: 50%">
                <a href="/contact_us">צור קשר</a>
                <a href="#">שירותים</a>
                <a href="/#who_are_we">מי אנחנו</a>
                <a href="/contact_us">בואו לעבוד איתנו</a>
            </div>

        </div>
        <br>
        Built & Designed by Omer Munk and Ben Buaron.
        <br>
        © 2022 by MetaTech. All rights reserved.
        <br>
        <br>
    </div>
</footer>
</body>
</html>