{% extends 'base2.html' %}
{% load static %}
{% block title_clock %} בקרוב {% endblock %}
{% block content_block %}


    <div class="containter_div_col"
         style="background-image: url({% static 'meta_app/new21copy2.jpg' %});background-repeat: no-repeat; background-size: cover; padding-top: 5%; padding-bottom: 5%;">
        <div class="private_lesson_div" style="background-color: rgba(255,255,255,0.58)">
            <img src="{% static 'meta_app/PNG-Transparent2 copy.png' %}"
                     style="width: 400px; display: flex; margin: auto; padding-top: 5%">
            <h1 style="font-size: 200px; text-align: center">...בקרוב  </h1>

        </div>

    </div>


{% endblock %}