{% extends "base2.html" %}
{% load static %}

{% block content_block %}
  <body>
    <div class="containter_div_col">


        <div class="containter_div_row" style="background-image: linear-gradient(to right, #021B79, #0575E6); padding-top: 10%; padding-bottom: 10%">
            <img src="{% static 'meta_app/py.png' %}" style="margin-right: 3%; width: 350px">
            <div class="containter_div_col">
                <p class="p1">
                    לימוד מקצועות המחשב
                </p>
                <p>
                    אנחנו בלה בלה בלה בלה בלה מה אתה אומ על זה??
                </p>
                <button class="join_button">הצטרפו עכשיו</button>
            </div>
        </div>
    </div>
  </body>

{% endblock %}

