{% extends "base2.html" %}
{% load static %}

{% block content_block %}

    <body>
    <div class="containter_div_col">

        <!--background-image: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(47,47,47,1) 37%, rgba(127,127,128,1) 63%, rgba(222,222,222,1) 81%, rgba(251,251,251,1) 93%);-->
        <!--        {#        <div class="containter_div_row rowtocol1" style="background-image: linear-gradient(to right, #021B79, #0575E6); padding-top: 10%; padding-bottom: 10%">#}-->
        <div class="containter_div_row rowtocol1"
             style="background-image: url({% static 'meta_app/free-space-background-07Fixed02.jpg' %}); padding-top: 13%; padding-bottom: 22%">
            <img src="{% static 'meta_app/MetaLogoFixed.png' %}" class="logo1"
                 style="margin-right: 3%; justify-self: center">
            <div class="containter_div_col" style="width: 40%">
                <div class="p1" style="width: 100%;  font-size: 400%; color:white;font-weight: 700">
                    בואו ללמוד הייטק
                </div>
                <p class="p2">
                    מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים מילים
                    מילים מילים הצטרפו עכשיו
                </p>
                {#<!--                {% if group == 'admin' %}-->#}
                <!--                ben-->
                {#<!--                {%endif%}-->#}
                <br>
                <button class="join_button" onclick="location.href='/sign_up'"><a>הצטרפו עכשיו</a></button>
            </div>
        </div>
        <div class="containter_div_row rowtocol2"  style="padding-bottom: 5%; ">
            <div class="p2" id="div_to_change" style="width: 40%; margin-right: 5%; margin-top: 5%; color: black">
                אמא של כולם זונה מוצצת מה קורה אח שלי תחת זין מה אלה ולריה ראיאת משו אידגעל ללנע דנ דערגו דרלגלדגרי לדרע
                גויךודער וידג עיךוגרי ךודיגררע וךיגךרע
            </div>
            <div class="containter_div_col">
                <div class="p1" id = 'change' style="margin-bottom: 16%; margin-top: 24%">
                    <p id="toChange">השירותים שלנו</p>
                <button class="option_button_1 "  style="width: 500px" id="pythonbtn" onclick="Pychanger()">פייתון למתחילים</button>
                <button class="option_button_1 " style="width: 500px" id="javabtn" onclick="Javachanger()" > ג׳אווה למתחילים</button>
                <button class="option_button_1 " style="width: 500px" id="HTMLbtn" onclick="HTMLchanger()"> פיתוח ווב HTML CSS</button>

                </div>
            </div>

        </div>
        <div class="containter_div_row"
             style="background-image: url({% static 'meta_app/free-space-background-07Fixed02.jpg' %}); padding-top: 10%; padding-bottom: 10%; transform: scaleY(-1)">
            <div class="containter_div_col">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="containter_div_col">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    </body>

{% endblock %}


