{% extends 'base2.html' %}
{% load static %}
{% block title_clock %} שיעורים פרטיים {% endblock %}

{% block content_block %}
    <div class="containter_div_col"
         style="background-image: url({% static 'meta_app/new21copy2.jpg' %});background-repeat: no-repeat; background-size: cover; padding-top: 5%; padding-bottom: 5%;">
        <div class="private_lesson_div">
            <div style="background-color: rgba(255,255,255,0.58); z-index: 2; margin: auto; margin-top: -36px; border-radius: 20px">
                <h1><img src="{% static 'meta_app/PNG-Transparent2 copy.png' %}"
                         style="width: 200px;margin-left: 2%; margin-bottom: 10%; float: left">שיעורים פרטיים </h1>
                <p>אנחנו במטה-טק מתאימים את הלימוד באופן מותאם אישי על פי הצורך שלכם</p>
                <p> השיעורים מועברים על ידי האמצעים הטכנולוגיים המתקדמים ביותר, ומשלבים הן לימוד תיאוריה והן תרגול
                    מעשי</p>
                <p>אורך שיעור: 60 דקות <span style="background-color: #fff200; border-radius: 15px; padding: 7px">אפשר לקצר או להאריך לבקשתכם</span>
                </p>
                <p>בסוף שיעור תעלה לאתר הקלטה של השיעור+הקבצים <span
                        style="background-color: #00ff8f; border-radius: 15px; padding: 7px">!!!כלול במחיר </span></p>
                <p>המורים שלנו זמינים לכם גם מעבר לשעות השיעורים לשאלות פרטניות <span
                        style="background-color: #00ff8f; border-radius: 15px; padding: 7px">!!!כלול במחיר </span></p>
                <p><span style="background-color: #ff004d; border-radius: 15px; padding: 7px; margin-right: 0">!!!הנחות לשיעורים בזוגות/קבוצות  </span>
                </p>
                <div style="display: flex;flex-direction: row-reverse">
                    <div style="width: 60%">
                        <p style="font-size: 45px"> 053 - 473 - 2242 <a href="https://wa.me/+972534732242"
                                                                        class="whatsapp"
                                                                        target="_blank"><i
                                class="fa fa-whatsapp"></i></a></p>
                        <p style="font-size: 45px"> 050 - 231 - 7575 <a href="https://wa.me/+972502317575"
                                                                        class="whatsapp"
                                                                        target="_blank"><i
                                class="fa fa-whatsapp"></i></a></p>
                    </div>
                    <div style="padding-bottom: 5%;">

                    </div>

                </div>


            </div>
        </div>
    </div>



{% endblock %}