html, button, p, div {
    font-family: Calibri;
}

.containter_div_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.containter_div_col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.topnav {
    display: flex;
    overflow: hidden;
    top: 0;
    z-index: 2;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.topnav button {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;

}

.topnav button.active {
    background-color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav button {
        display: none;
    }

    .topnav a.icon {
        display: block;


    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: relative;
        top: 0;
        margin-bottom: 10%;
        display: block;

    }

    .topnav.responsive button {
        float: none;
        display: block;
        text-align: center;


    }

    .topnav nav1 {
        flex-direction: column;
        z-index: 0;
        position: static;
        background-image: linear-gradient(to right, #021B79, #0575E6);

    }

    .topnav button {
        color: #ffffff;

    }

    .topnav {
        flex-direction: column;
    }

    .rowtocol1 {
        flex-direction: column;
    }

    .rowtocol2 {
        flex-flow: column-reverse
    }

    .logo1 {
        margin-top: 8%;
    }
}


.p1 {
    font-size: 300%;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 5px 5px 5px;
}

.p2 {
    font-size: 25px;
    text-align: right;
}

.join_button {
    width: 130px;
    margin: auto;
}

.menu_button_regular {
    display: block;
    font-size: 32px;
    border-color: rgba(160, 126, 255, 0);
    transition-duration: 0.3s;
    /* background-color: rgb(160, 126, 255); */
    background-color: rgba(160, 126, 255, 0);
    color: white;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3%;
    padding-bottom: 1.3%;
    width: 100%;
    height: 100%;
    text-shadow: rgba(255, 255, 255, 0.32) 3px 3px 3px;

}

.menu_button_regular:hover {
    background-color: #ffffff;
    color: #000000;
}

.option_button_1 {
    display: block;
    font-size: 40px;
    /*border-color: #5b5b5b;*/
    border-color: rgba(255, 255, 255, 0);
    transition-duration: 0.3s;
    /* background-color: rgb(160, 126, 255); */
    background-color: rgba(160, 126, 255, 0);
    color: #1b25de;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    margin-top: 6%;
    margin-bottom: 6%;
    box-shadow: rgba(126, 125, 125, 0.7) 12px 12px 12px;
    width: 305px;

}

.option_button_1:hover {
    background-image: linear-gradient(to right, #021B79, #0575E6);
    color: white;

}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fffbfb;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.icon {

}

.rowtocol1 {

}

.rowtocol2 {

}

.logo1 {

}


