{% extends 'base2.html' %}
{% load static %}
{% block content_block %}
    {% if user.is_authenticated %}
        You are already logged in, go back
    {% else %}
        <div style="display: flex; background-image: url({% static 'meta_app/free-space-background-07Fixed02.jpg' %});
                background-repeat: no-repeat; background-size: 105%; padding-bottom: 50%; overflow-y: hidden"; >

            <div class="login_div">
                <h2 class="p1" style="font-size: 35px" >התחבר</h2>
                <form method="post" style="display: flex; flex-direction: column">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="join_button" type="submit" style="width: 45%; align-self: center; margin-top: 5%">כניסה</button>
                    <a href="{% url 'password_reset' %}" style="align-self: center; margin-top: 8%;margin-bottom: 8%; font-size: 20px; color: white">Forgot your password?</a>
                </form>

        </div>
        </div>
    {% endif %}


{% endblock %}